<!-- <div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">

      <div class="p-24 h-100">
        <img src="/assets/images/backgrounds/login-bg-2.jpg" alt="Background image for login page" class="img-cover" />
      </div>

    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h4 class="f-w-700 f-s-24 m-0">Bienvenido a Xtreme Dispatch</h4>


            <!-- <div class="bg-light-primary text-primary f-w-500 rounded p-16 m-t-24 text-center">
              <span class="m-r-8">Administrador : {{usuario}} </span> ||
              <span class="m-l-8">Contraseña : {{contrasena}}</span>
            </div>

            <div class="bg-light-primary text-primary f-w-500 rounded p-16 m-t-24 text-center">
              <span class="m-r-8">Cliente : {{usuario2}} </span> ||
              <span class="m-l-8">contraseña : {{contrasena2}}</span>
            </div> --

            <form class="m-t-30">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Usuario</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput required="" #email />
              </mat-form-field>

              <!-- password --
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" required="" #password />
              </mat-form-field>

              <button mat-flat-button color="primary" class="w-100" (click)="check(email.value, password.value)">
                Iniciar Sesión
              </button>
              <!-- input --
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row text-center justify-content-center align-self-center backImage no-gutters py-0 my-0"
  style="min-height: 100vh">
  <div class="col-xs-3 col-sm-4 my-auto align-self-center text-center io-trans-75">

    <h2 class="mt-5 font-weight-bold">
      <span>Bienvenido a </span>
      <span class="font-weight-bolder" class="io-logo">
        <span class="xtreme">XTREME</span>
        <span> DISPATCH</span>
      </span>
    </h2>
    <small class="m-0">Plataforma IOT Mining</small>
    <div class="info-form p-3 mt-2">
      <form class="mt-4">
        <mat-form-field appearance="outline" class="w-100 mb-3" color="primary">
          <input matInput type="email" required name="email" #email placeholder="Email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3" color="primary">
          <input matInput type="password" required name="password" #password placeholder="Contraseña" />
        </mat-form-field>

        <button mat-flat-button color="primary" class="btn io-btn w-100 mt-2"
          (click)="check(email.value, password.value)">
          Iniciar Sesión
        </button>
      </form>
      <div class="">&nbsp;</div>


      <div class="">&nbsp;</div>
      <div class="align-bottom small text-right mt-3" style="width: 100%">version 0.1 </div>
      <div class="align-bottom small text-right small" style="width: 100%"><span class="small">© 2025 XTREME
          Dispatch</span>
      </div>
    </div>
  </div>
</div>