<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <form name="eventForm" class="event-form">
            <mat-card class="cardWithShadow">
                <mat-card-content>
                    <div class="d-flex align-items-center">
                        <mat-card-title class="m-b-0"> {{detalle}} </mat-card-title>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let order of events" class="cardWithShadow">
                    <mat-expansion-panel-header>
                        <div class="panel-header-container">
                            <div class="panel-data-group">
                                <div class="data-item order-number">
                                    ORDEN: {{ order.codOrder }}
                                </div>
                                <div class="data-item data-label">
                                    Cliente: {{ order.client }}
                                </div>
                                <div class="data-item small-data">
                                    M3: {{ order.m3 || 'N/A' }}
                                </div>
                                <div class="data-item status-value">
                                    Estatus: {{ order.status.name || 'N/A' }}
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="row m-y-10 p-t-10">
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput name="codOrder" [value]="order.clientEmail" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Solicitante</mat-label>
                                <input matInput [value]="order.applicant" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Coordinador de Hormigón</mat-label>
                                <input matInput [value]="order.coordinator_concrete" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Frecuencia Radial</mat-label>
                                <input matInput [value]="order.frequency_radial" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Destino Final</mat-label>
                                <input matInput [value]="order.final_destination" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Punto de Entrega</mat-label>
                                <input matInput [value]="order.point_delivery" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Código Producto</mat-label>
                                <input matInput [value]="order.cod_product" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Producto</mat-label>
                                <input matInput [value]="order.product" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Frecuencia Despacho</mat-label>
                                <input matInput [value]="order.dispatch_frequency" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Turno</mat-label>
                                <input matInput [value]="order.thunder" readonly>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Observación</mat-label>
                                <input matInput [value]="order.observation" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="order.statusRequests" class="w-100">
                            <ng-container matColumnDef="order">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
                                    Despacho
                                </th>
                                <td mat-cell *matCellDef="let element" class="mat-body-1">
                                    {{ order.codOrder }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
                                    Id
                                </th>
                                <td mat-cell *matCellDef="let element" class="mat-body-1">
                                    {{ element.id }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="m3">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                    M3
                                </th>
                                <td mat-cell *matCellDef="let element" class="mat-body-1">
                                    {{ element.m3 }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="timeDelivery">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                    Hora
                                </th>
                                <td mat-cell *matCellDef="let element" class="mat-body-1">
                                    {{ element.timeDelivery | date: 'HH:mm' }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                                    Estado
                                </th>
                                <td mat-cell *matCellDef="let element" class="mat-body-1">
                                    {{ element.status.name }}
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
                        </table>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </mat-card-content>
</mat-card>